//Font-weight
$extra-light: 200;
$light: 300;
$regular: 400;

//Fonts

$font-family-regular: 'OpenSans-Regular';
$font-family-semiBold: 'OpenSans-SemiBold';

//Colors

$blue: rgb(33, 150, 243);
$light-blue: rgb(241, 252, 255);
$dark-grey: rgb(74, 74, 74);
$light-grey: rgb(160, 176, 185);
$border-color: rgba(0, 0, 0, 0.1);
$white: rgb(255, 255, 255);
$background-color: rgb(243, 247, 250);
